h1{
    text-align:center;
    padding:1%;
    color:blue;
    background-color:black;
}
.input-container{
    padding:1%;
    margin:1% 0;
    border:1px solid silver;
}
.input-container > label{
    display:block;
}
.input-container > input{
    width:50%;
}

@media only screen and (min-width:992px){

    .input-container > input {
        width: 20%;
    }
}