:root {
    --theme-color: #ff006e;
}
html {
    font-size: 1em;
    
}

.bg-theme {
    background-color:var(--theme-color);
}
/*text-color*/
.text-theme {
    color:var(--theme-color);
}
/*Buttons*/
button:focus, input:focus {
    outline: none;
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.click-effect {
    font-size: 0em;
    color: green;
    left: 0;
    position: absolute;
    animation: click-effect 1s linear 1;
}

.discount-tag {
    font-size: 0.8125rem;
    padding: 0 2px;
    color: black;
    margin-right: 2%;
    background-color:white;
}

.btn-favourite, .btn-view, .btn-cart, .discount-tag {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-shadow: -2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;
    font-weight: bold;
    color: var(--theme-color);
}
.btn-favourite, .btn-view {
    width: 30px;
}

.btn-store-hover:hover {
    background-color: var(--theme-color);
    color: white;
}

.btn-favourite, .btn-view, .btn-cart {
    border: none;
    background-color: white;
    position: relative;
}
.busy-indicator {
    animation: busy-indicator 1s linear infinite;
}
@keyframes busy-indicator{
    0%{
        border-bottom:none;
    }
    50%{
        border-bottom:none;
    }
    51%{
        border-bottom:1px solid green;
    }
    100% {
        border-bottom: 1px solid green;
    }
}

/*Font*/
.font-Arialblack {
    font-family: 'Arial Black';
}
/***/
.error, .success {
    border: 1px solid #f3f3f3;
    padding: 2%;
    border-radius:5px;
}
.error{
    background-color:lightcoral;
    color:red;
   
}
.success {
    background-color:lightgreen;
    color:#28a745;
}
.info-box {
    padding: 1%;
    color: #1b6ec2;
    background-color:lightblue;
}
/*animations*/
@keyframes click-effect {
    0% {
        font-size: 1em;
        opacity: 0.6;
        top: 0%;
    }

    100% {
        opacity: 0;
        top: -200%;
        font-size: 0.625em;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size:16px;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    font-family:Arial, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
    color: #AE8625;
    z-index:-1;
}

