h1 {
    background-color: #f3f3f3;
    font-size:18px;
}
.shopping-cart-container {
    padding: 1%;
}
.btn-checkout{
    display:block;
    text-decoration:none;
    background-color:var(--theme-color);
    color:blue;
    border:1px solid blue;
    padding:2%;
    width:100%;
    border-radius:25px;
}
.size-tag {
    display: inline-block;
    float: left;
    color:blue;
    background-color:black;
    border:2px solid blue;
    font-size:16px;
    line-height:30px;
    height:30px;
    width:30px;
    border-radius:50%;
    text-align:center;
}
.btn-checkout:hover{
    font-size:18px;
    text-decoration:none;
}
input[name="Quantity"]{
    width:50px;
    border:1px solid #f3f3f3;
    border-radius:5px;
    color:blue;
    font-weight:bold;
}
.cart-items-container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cart-items-container1 img {
    height: 100px;
}

.cart-items-container1 > div {
    width: 100%;
    padding: 0 1% 1% 1%;
}

.cart-items-container1 .cart-item {
    padding: 4%;
    box-shadow:1px 1px 8px silver,-1px -1px 8px silver;
    border-radius:5px;
}

.cart-items-container2 {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 0 4% 0 4%;
    margin-top: 2%;
}

.cart-items-container2 > div {
    padding: 4%;
}
@media only screen and (min-width:500px) {
    h4 {
        border-radius: 20px;
    }
    .cart-items-container1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .cart-items-container1 img {
        height: 100px;
        width:100px;
    }

    .cart-items-container1 > div {
        width: 50%;
    }
}
@media only screen and (min-width:900px) {
     .shopping-cart-container{
        padding:1%;
    }

    .cart-items-container1{
        width:60%;
        float:left;
    }
    .cart-items-container1 > div{
        width:33.333%;
    }

    .cart-items-container2 {
        width: 40%;
    }
    .shopping-cart img {
        width: 100px;
        height: 100px;
    }
}