.cart h1 {
    background-color: var(--theme-color);
    font-size: 1.25em;
    color:white; 
    padding: 1%;
    text-align: center;
    margin-top: 4%;
}
h1 .fa-shopping-cart{
    animation:rot-cart 2s linear infinite alternate;
}
@keyframes rot-cart{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(30deg);
    }
}
img{
    height:100px;
}
.cart-item {
    padding: 2%;
    background-color:white;
}
.btn-trash{
    float:right;
    box-shadow:2px 2px 2px #f3f3f3;
    color:#808080;
}
.btn-trash:hover{
    background-color:var(--theme-color);
    color:white;
}
.item-name{
    text-align:center;
    font-size:1em;
    font-weight:bold;
    height:40px;
    line-height:20px;
    overflow:hidden;
}
.summary-container {
    background-color: white;
    overflow: hidden;
    box-shadow:2px 2px 2px silver;
    border-bottom:2px solid var(--theme-color);
}
.summary-container h2{
    padding:1%;
    color:white;
    font-size:1em;
    background-color:var(--theme-color);
}

.size-tag {
    display: inline-block;
    color: var(--theme-color);
    padding: 1%;
    font-weight:bold;
}
.size-tag .size
{
    border-radius:10px;
    background-color: #f3f3f3;
    color: var(--theme-color);
    border-bottom:2px dotted var(--theme-color);
}
.quantity-control{
    display:inline-block;
}
.quantity-control h3{
    font-size:0.875em;
    font-weight:bold;
}
.btn-quantity{
    border:none;
    color:var(--theme-color);
    background-color:inherit;
    font-size:1.25em;
}
.btn-quantity:hover{
    background-color:var(--theme-color);
    color:white;
}
.btn-update-changes {
    border-radius: 10px;
    border-color: #ca10f7;
    background-color: var(--theme-color);
    color: white;
}
.btn-update-changes:hover{
    box-shadow:4px 4px 2px black;
}
.size-tag .size,.quantity-value {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-weight:bold;
}
.quantity-value {
    border-radius: 50%;
    border-bottom:2px solid var(--theme-color);
    background-image:linear-gradient(to right,#f3f3f3,white);
    color:var(--theme-color);
}

.btn-checkout {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--theme-color);
    padding: 1%;
    font-weight: bold;
    color: white;
    border:2px solid #ca10f7;
}
.btn-checkout:hover{
    box-shadow:4px 4px 4px black;
    text-decoration:none;
    color:white;
}



