*{
    box-sizing:border-box;
}
.item-container h1{
    background-color:var(--theme-color);
    color:white;
    font-size: 1.125em;
}

.search-container {
    padding:1%;
    overflow:auto;
    width:100%;
    text-align:center;
}
.search-container > div{
    display:inline-block;
    overflow:hidden;
    width:100%;
}
.search-input, .search-btn {
    line-height: 28px;
    height: 28px;
    float: left;
    border: 1px solid var(--theme-color);
}
.search-input{
    width:80%;
    border-right:none;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    padding-left:20px;
}
.search-btn {
    width: 20%;
    border-left: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.store-item{
    background-color:white;
    box-shadow:-2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;
}
.store-item img{
    max-height:150px;
    text-decoration:none;
}

.page-numbers{
    text-align:center;
    background-color:#f3f3f3;
}
.page-number{
    display:inline-block;
    margin:1%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-radius:50%;
    color:var(--theme-color);
    font-weight:bold;
    border:2px solid var(--theme-color);
    background-color:#f3f3f3;
}
.page-number:hover,.page-selected {
    background-color: var(--theme-color);
    border-color:silver;
    color:white;
    text-decoration:none;
}
.page-number:hover{
    animation:rot-page-number 0.5s linear infinite;
    cursor:pointer;
}
.page-selected:hover {
    animation: none;
}
.home-ads{
    background-color:var(--theme-color);
    color:white;
}
.home-ads h1{
   font-size:1.25em;
   margin-top:2%;
}
.home-ads h1 span{
    display:block;
}
.home-ads .fa-shopping-cart{
    font-size:4em;
    animation:rot-cart 2s linear infinite alternate;
}

.size-container{
    width:90px;
    height:30px;
    line-height:30px;
    display:inline-block;
}
.size-container .btn-increment,.size-container .btn-decrement,.size-container .size-group{
    width:30px;
    text-align:center;
    line-height:inherit;
    height:inherit;
    overflow:hidden;
    border:none;
    background-color:inherit;
    color:var(--theme-color);
    float:left;
}
.size-container .size-group {
    color:black;
    font-weight:bold;
}
.size-container .btn-increment:hover,.size-container .btn-decrement:hover{
    background-color:var(--theme-color);
    color:white;
}
.filter-group {
    background-color: white;
    list-style: none;
    padding: 0;
    border: 1px solid #c0c0c056;
    border-radius: 5px;
    overflow: hidden;
}
.filter-group-item {
    border-bottom: 1px solid #c0c0c056;
}
.filter-group-item a,.filter-group-item:first-child {
    color: inherit;
    display: block;
    padding: 8%;
}
.filter-group-item a:hover{
    background-color:#f3328529;
    text-decoration:none;
}
.filter-group-item:last-child{
    border-bottom:none;
}
.filter-radio{
    display:inline-block;
    height:16px;
    width:16px;
    padding:2px;
    border-radius:50%;
    border:2px solid var(--theme-color);
}
.filter-radio-fill{
    display:block;
    height:100%;
    border-radius:50%;
    background-color:var(--theme-color);
}
@keyframes rot-cart{
    0%{
        transform:rotateY(0);
    }
    100% {
        transform: rotateY(60deg);
    }
}
@keyframes rot-page-number{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@media only screen and (min-width:900px){
    .search-container > div {
        width: 70%;
    }
}