.login-container {
    background-color: white;
    padding: 0;
    overflow: hidden;
    box-shadow: -2px -2px 2px silver,2px 2px 2px silver;
}
.login-container h1 {
    color: white;
    background-color:var(--theme-color);
    text-align:center;
    padding:1%;
    font-size:1.125em;
}
.login-container input{
    border:1px solid var(--theme-color);
    border-radius:10px;
}
.btn-login {
    display:inline-block;
    font-weight: bold;
    background-color:var(--theme-color);
    color:white;
    border:1px solid silver;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    box-shadow:2px 2px 2px black;
    padding-left:10px;
    padding-right:10px;
    margin:2%;
}

.btn-login:hover{
    box-shadow:none;
}
