h1 {
    font-size: 1.125em;
    background-image:linear-gradient(to right,white,#f3f3f3);
    border:1px solid white;
}
h2{
    font-size:1.125em;
}
h3{
    font-size: 1em;
}
h1, h2 {
    padding: 1%;
    color: var(--theme-color);
}
h1,h2,h3{
    text-align:center;
}
button{
    border:none;
    background-color:transparent;
}
button:focus{
    outline:none;
}
.description-container {
    height:100%;
}
.more{
    border:1px solid silver;
    border-radius:10px;
    padding:2%;
    background-image:linear-gradient(to right,white,#f3f3f3);
}
.more h3{
    text-align:left;
    font-size:0.875rem;
    color:var(--theme-color);
}
.description-container h2
{
    background-color:#f3f3f3;
}
.item-container, .description-container {
    background-color: white;
    padding: 2%;
}
img {
    width: 150px;
    height: 150px;
}
.details-menu{
    background-color:#f3f3f3;
    min-height:30px;
}
.discount-tag{
    float:left;
}
.btn-cart,.btn-favourite {
    float:right;
}
.btn-back {
    display:inline-block;
    border-radius:25px;
    border:2px solid silver;
    background-color: var(--theme-color);
    color:white;
    padding:1%;
}
.btn-back:hover{
    text-decoration:none;
    background-color:white;
    color:var(--theme-color);
    border-color:var(--theme-color);
}
.btn-back:hover i{
    animation:change-opacity 1s linear infinite;
}
.btn-cart:hover{
    background-color:var(--theme-color);
    color: white;
}
.size-group{
    background-color:#f3f3f3;
    text-align:center;
    border-bottom:1px solid var(--theme-color);
}
.size-group h3{
    background-color:var(--theme-color);
    color:white;
}
.size-group .sizes{
    padding:2%;
}
.size-group .size{
    display:inline-block;
    line-height:30px;
    height:30px;
    width:40px;
    text-align:center;
    background-color:white;
}
.price{
    font-family:Arial;
    font-weight:bold;
    display:inline-block;
    box-shadow:2px 2px 2px #f3f3f3;
    padding:1%;
}
.original-price{
    color:var(--theme-color);
    text-decoration:line-through;
}
.current-price{
    color:black;
}
@keyframes change-opacity{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}