h1 {
    margin-top: 4%;
    padding: 1%;
    font-size: 1.25em;
    color:var(--theme-color);
    background-color:white;
    text-align:center;
    border-bottom:2px solid var(--theme-color);
}
h2{
    padding:2%;
    border-radius:10px;
    color:var(--theme-color);
    border-bottom:2px solid var(--theme-color);
    font-size:1em;
    display:inline-block;
    border-right:2px solid var(--theme-color);
}
img{
    width:150px;
}
.order-container{
    background-color:white;
    padding:2%;
    text-align:center;
    border-bottom:2px solid var(--theme-color);
}
.order-item{
    display:inline-block;
}
.order-address{
    padding: 2%;
    text-align:left;
    display:inline-block;
}
.btn-complete {
    background-color: blue;
    border: 2px solid silver;
    display: inline-block;
    font-size: 0.875em;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    box-shadow:2px 2px 2px black;
    font-weight: bold;
    border-radius: 50%;
}
.btn-complete:hover{
    color:blue;
    border-color:blue;
    background-color:white;
    text-decoration:none;
}

.pending-dec{
    display:inline-block;
    height:20px;
    overflow:hidden;
    width:70px;
}
.pending-dec span{
    display:inline-block;
    border-radius:50%;
    background-color:var(--theme-color);
    animation:pending-dec 6s linear infinite;
}
.pending-dec span:nth-child(2)
{
animation-delay:1.5s;
}
.pending-dec span:last-child{
    animation-delay:3s;
}
@keyframes pending-dec{
    0%{
        width:4px;
        height:4px;
        margin-top:0;
    }
    100%{
        margin-top:5px;
        height:10px;
        width:10px;
    }
}