@model Chekich_fx.Models.Address
@{
    ViewData["Title"] = "InsertAddress";
}
<div class="container">
    <h4 class="p-2 text-white text-center bg-theme">Delivery Address</h4>
    <form asp-action="InsertAddress" method="post" asp-route-returnUrl="@ViewBag.ReturnUrl">
        <div class="bg-white">
            <div class="awe-boxshadow mb-2 p-2">
                <label asp-for="Location">Address</label>
                <textarea class="w-100" rows="3" asp-for="Location" autofocus>
                </textarea>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="awe-boxshadow mb-2 p-2">
                <label asp-for="TownOrCity"></label>
                <input class="w-100" asp-for="TownOrCity" />
                <span asp-validation-for="TownOrCity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AddressType" value="@Model.AddressType" />
            <div class="text-center p-2">
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <input type="hidden" asp-for="Available" value="@Model.Available" />
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>



