@{
    ViewData["Title"] = "Complete";
}
<div class="container">
    <div class="check-out-menu">
        <ul>
            <li style="opacity:0.4">Receival</li>
            <li style="opacity:0.4">Total</li>
            <li style="opacity:0.4">Address</li>
            <li style="opacity:0.4">Payment</li>
            <li class="bg-theme text-white">Complete</li>
        </ul>
    </div>
    <div class="page">
        <h1>Complete</h1>
        <div class="text-center">
            <i class="fa fa-check success-big-check"></i>
            <p class="text-theme">
                You have placed your order successfully, you can now track it. More
                information is communicated via emails.
            </p>
            <a class="btn-track-order" asp-controller="OrderTracking" asp-action="Index">Track</a>
        </div>
    </div>
</div>
