@{
    ViewData["Title"] = "Complete";
}
<div class="container">
    <h4>You have successfully completed your order, we will contact you as soon as possible. You can check your order status by using the link below.</h4>
    <div>
        <a class="btn btn-primary" asp-controller="OrderManager" asp-action="Status">Show My Order Status</a>
    </div>
</div>
