@using Chekich_fx.Enums
@{
    ViewData["Title"] = "Payment";
}
<div class="container">
    <div class="check-out-menu">
        <ul>
            <li style="opacity:0.4">Receival</li>
            <li style="opacity:0.4">Total</li>
            <li style="opacity:0.4">Address</li>
            <li class="bg-theme text-white">Payment</li>
            <li style="opacity:0.4">Complete</li>
        </ul>
    </div>
    <div class="page">
        <h1>Preferred Method Of Payment</h1>
        <div class="text-center">
            <form asp-action="Create">
                <label class="select-item">
                    <input type="radio" name="_paymentType" value="@PaymentType.Online" id="@PaymentType.Online" checked/>
                    <span>Online</span>
                    <br />
                    <small class="text-primary">Safe & Secure</small>
                </label>
                <label class="select-item">
                    <input type="radio" name="_paymentType" value="@PaymentType.Cash" id="@PaymentType.Cash"/>
                    <span>Cash</span>
                    <br />
                    <small class="text-primary">Cash on delivery</small>
                </label>
                <div class="text-center">
                    <button class="btn-confirm"><i class="fa fa-check"></i></button>
                    <br />
                    <small class="text-primary">confirm</small>
                </div>
            </form>
        </div>
    </div>
</div>
