@model Chekich_fx.Models.Shoe
@{
    ViewData["Title"] = "Create";
}
<div class="container p-2">
    <div class="mt-2 p-2 text-center mb-2" style="box-shadow:-2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;">
        <div class="p-2 bg-theme text-white">
            <label><b>YOU CAN ADD A NEW PRODUCT BELOW</b></label>
        </div>
    </div>
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        @await Component.InvokeAsync("Product", Model)
    </form>
</div>