@model List<Chekich_fx.Models.Address>
@{
    ViewData["Title"] = "ColAddressBook";
}
<div class="container">
    <div class="text-center mt-1 p-2 awe-boxshadow overflow-auto" >
        <label class="text-grey" style="font-weight:900">COLLECTION ADDRESS</label>
        <a class="btn btn-primary float-lg-right" asp-action="CreateColAddress">Add New Address</a>
    </div> 
    @foreach (var address in Model)
     {
        <form asp-action="UpdateAddressStatus" method="post">
            <div class="border p-2 mt-2 mb-2 awe-boxshadow">
                <div class="text-left overflow-auto p-1" style="border:1px solid #f3f3f3">
                    <input type="hidden" name="addressId" value="@address.Id" />
                    @if (address.Available == true)
                    {
                        <input type="checkbox" checked name="available" value="true" />
                    }
                    else
                    {
                        <input type="checkbox" name="available" value="true" />
                    }
                    <span style="color:silver;font-size:0.8rem">If you do not use the address anymore, untick the checkbox and update.</span>
                </div>
                <div class="p-2">
                    <p style="white-space:pre-wrap">@Html.DisplayFor(model => address.Location)</p>
                    <div>
                        <label class="text-grey" style="font-weight:900;font-size:0.8rem">@Html.DisplayFor(model => address.TownOrCity)</label>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Update Changes</button>
                    </div>
                </div>
            </div>
        </form>
    }
    <div class="m-2 p-2">
        <a class="awe-btn-outline" asp-action="Index">Go Back</a>
    </div>
</div>

