@model Chekich_fx.Models.Address
@{
    ViewData["Title"] = "AddColAddress";
}
<div class="container">
    <div class="p-2 m-2 awe-boxshadow text-center" style="color:grey">
        <h6 class="awe-fontdesign bg-theme text-white p-2">ADD NEW ADDRESS</h6>    
    </div>
    <form asp-area="Admin" asp-controller="Setting" asp-action="AddColAddress" method="post">
        <div>
            <div class="awe-boxshadow p-2 m-2 text-grey">
                <div>
                    <label style="font-weight:900;font-size:0.8rem">ADDRESS</label>
                </div>
                <div>
                    <textarea class="w-100" rows="3" asp-for="Location">
                </textarea>
                </div>
            </div>
            <div class="awe-boxshadow p-2 m-2 overflow-hidden text-grey">
                <div>
                    <label style="font-weight:900;font-size:0.8rem">TOWN/CITY</label>
                </div>
                <div>
                    <input class="w-100" asp-for="TownOrCity" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="awe-btn-outline">SAVE ADDRESS</button>
            </div>
            <input type="hidden" asp-for="Available" value="true"/>
        </div>
    </form>
</div>

