/*a-store-design*/
.a-store-container {
    margin-top: 0;
    padding: 0 2%;
}

.a-item-container {
    display: block;
    width: 100%;
}

.a-item-container > div {
    width: 100%;
    padding: 1%;
    margin-top: 2%;
}

.a-item-container .a-item {
    box-shadow: var(--awe-shadow);
    padding: 2%;
}

.a-row-col2 {
    width: 100%;
    overflow: auto;
    padding: 1%;
}

.a-row-col2 > div {
    width: 50%;
    font-weight: bold;
    float: left;
}

.a-search-container input {
    width: 100%;
    border: 1px solid grey;
    padding-top: 4px;
    padding-left: 0.25rem;
}

.a-search-container input:focus {
    outline: none;
}
@media only screen and (min-width:900px) {
    .a-store-container{
        padding:0 2%;
    }
    .a-item-container{
        display:flex;
        flex-wrap:wrap;
        width:100%;
    }
    .a-item-container > div{
        width:25%;
        padding:1%;
        margin-top:0;
    }
    .a-item-container .a-item{
        box-shadow:var(--awe-shadow);
        padding:2%;
    }
    .a-row-col2{
        width:100%;
        overflow:auto;
        padding:1%;
    }
    .a-row-col2 > div{
        width:50%;
        font-weight:bold;
        float:left;
    }
    .a-search-container input{
        width:50%;
    }
    .a-search-row{
        overflow:hidden;
        display:inline-block;
        width:40%;
    }
    .a-search-row div{
        display:inline-block;
        float:left;
    }
    .a-search-row div:first-child{
        width:20%;
        float:left;
    }
    .a-search-row div:last-child{
        width:80%;
        float:left;
    }
    .a-search-row input,.a-search-row select{
        width:100%;
    }
}
