@model Chekich_fx.Models.Address
@using Chekich_fx.Utility
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>PLEASE ADD YOUR ADDRESS BELOW</h1>
    <form asp-action="Create" method="post">
        <input asp-for="Available" type="hidden" value="true" />
        @if(User.IsInRole(URole.User))
        {
            <input asp-for="AddressType" type="hidden" value="@AddressType.Delivery" />
        }
        else
        {
            <input asp-for="AddressType" type="hidden" value="@AddressType.Collection" />
        }
        <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
        <div class="input-container">
            <label asp-for="StreetName"></label>
            <input asp-for="StreetName" />
        </div>
        <div class="input-container">
            <label asp-for="HouseNumber"></label>
            <input asp-for="HouseNumber" />
        </div>
        <div class="input-container">
            <label asp-for="Surbub"></label>
            <input asp-for="Surbub" />
        </div>
        <div class="input-container">
            <label asp-for="TownOrCity"></label>
            <input asp-for="TownOrCity" />
        </div>
        <div class="input-container">
            <label asp-for="Code"></label>
            <input asp-for="Code"/>
        </div>
        <div class="input-container">
            <label asp-for="Province"></label>
            <select asp-for="Province">
                <option value="Free State">Free State</option>
                <option value="Eastern Cape" disabled>Eastern Cape</option>
                <option value="Guateng" disabled>Guateng</option>
                <option value="Kwa-Zulu Natal" disabled>Kwa-Zulu Natal</option>
                <option value="Limpopo" disabled>Limpopo</option>
                <option value="Mpumalanga" disabled>Mpumalanga</option>
                <option value="Northen Cape" disabled>Northen Cape</option>
                <option value="Northe West" disabled>Northen West</option>
                <option value="Western Cape" disabled>Western Cape</option>
            </select>
        </div>
        <div class="text-center p-2">
            <button type="submit" class="btn btn-primary">Save Address</button>
        </div>
    </form>
</div>